body {
    font-family: helvetica;
    font-size: 1.2em;
}


.table {
    width: 100%;
    margin: 1.1em;
    border-width: 32px;
    border-color: rgb(255,0,0);
}


.burgerView {
    margin: 1.1em;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255); 
}


.orderInfo {
    margin: 1.1em;
    background-color: white;
    color: black; 
}


button:hover {
    background-color: rgb(25,25,25);
    color: rgb(230,230,230);
    cursor: pointer;
}


#allergyInfo {
     font-style: italic;
     font-size: 1.02em;
}
